.jumbotron {
  border-radius: 0;
  background-color: #161b22;
  padding: 0px;
}

.font-size-lg{
    font-size: large;
}

.width-number{
    width: 20px;
}

.width-time{
    width: 120px;
}

.width-lesson{
    width: 230px;
}

h2{
  color:#f0f6fc;
  margin-top: 2px;
}
.btn{
  border-radius: 0;
}

.active{

}

.bg-light{
  color: #f0f6fc;
  background: #0d1117;
}

.btn-outline-dark{
  color: #f0f6fc;
}

.table{
  color: #f0f6fc;
}

body {
  color: #f0f6fc;
  background: #0d1117;
}

.col-sm{
}

.container-fluid{

}

