.jumbotron {
  border-radius: 0;
  background-color: rgb(161, 179, 207);
  padding: 0px;
}

.font-size-lg{
    font-size: large;
}

.width-number{
    width: 20px;
}

.width-time{
    width: 120px;
}

.width-lesson{
    width: 230px;
}

h2{
  color:white
  margin-top: 2px;
}
.btn{
    border-radius: 0;
}

.active{

}

body {
  background: #0d1117;
}


.col-sm{
}

.nav-link{
    color:yellow;
}

.container-fluid{

}

